body{
    min-height: 200vh;
    
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    ;
    padding: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid rgb(227, 224, 224);
  
    margin: auto;
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom:20rem ;
    background-color: white;
    z-index: 10;
   
    
}
.border{
    margin-top: 2px solid red;
   
}
.icons{
    display: flex;
    gap:2rem;
}
.icon{
    font-size: 1.5rem;
   
}
.search-bar{
    width: 20rem;
    
     border-radius: 1.5rem;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.253);
     padding: 8px;
     text-align: center;
     font-size: 19px;
    border: none;
     outline: none;
     

}
.search-bar:active:focus{
    outline: none;
    border: none;
}
.title{
color: rgb(87, 94, 91);
}
.btn{
    
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.253);
     padding: 8px;
     font-size: 15px;
     text-align: center;
    border-radius: 1.5rem;
    border: none;
     outline: none;
     margin-left: 20px;
    width: 5rem;
    letter-spacing: 2px;
    padding: 11px;
    color: rgb(106, 105, 105);


}

.search-bar:hover{
    
box-shadow: 4px 3px 10px rgba(8, 5, 8, 0.5), 0 0 15px rgba(22, 14, 14, 0.5), 0 0 20px rgba(14, 3, 14, 0.5);
transition: box-shadow 0.3s ease-in-out;
}
.btn:hover{
       
box-shadow: 4px 3px 10px rgba(8, 5, 8, 0.5), 0 0 15px rgba(22, 14, 14, 0.5), 0 0 20px rgba(14, 3, 14, 0.5);
transition: box-shadow 0.3s ease-in-out;
}
.dropdowns-container{
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
    padding: 2rem;
    flex-wrap: wrap;
    background-color: white;
    z-index: 10;
}
.options{
    width: 20rem;
}
option{
    width: 20rem;
}
.dropdowns-container{
    position: fixed;
    top:100px;
    display: flex;
    width: 100%;
    background-color: white;
}