.card-container {
    display: flex;
    flex-wrap: wrap;
   position: absolute;
    margin-top: 2rem;
    top: 200px;
    align-items: center;
    justify-content: center;
   
     
  }
  
  .card {
    margin: 20px;
    border: 2px solid rgba(0, 0, 0, 0.117);
    box-shadow: 0px 0px  0px rgb(255, 255, 255);
    padding: 24px;
    cursor: pointer;
    border-radius: 6px;
    
  }
  
  .card-img {
    width: 13rem;
    margin-bottom: 1rem;
    height: 122px;
  }
  
  .card-title {
    margin-bottom: 1rem;
  }
  
  .card-reviews {
    margin-bottom: 1rem;
    display: flex;
  }
  
  .rating-star {
    color: #d5ab55;
  }
  
  .total-reviews {
    font-size: 0.9rem;
    margin-left: 10px;
  }
  
  .card-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .bag-icon {
    color: #535353;
  }
   
  .button{
  background: transparent;
  padding: 6px 15px;
  width: 100%;
  margin-top: 13px;
    border: 1.5px solid gray;
    border-radius: 4px;
    font-size: 16px;
    color: grey;
    letter-spacing: 2px;
  }
  
  .card:hover{
    box-shadow: 1px 4px 6px 1px rgba(89, 87, 89, 95);
transition: box-shadow 0.3s ease-in-out;
transform: translateY(-5px);
transition: 0.5s;
  }


  